.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  width: 250px;
  background-color: #e7e7e7;
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
  border-radius: 5px;
}

.status {
  margin: auto 0;
  width: 15px;
  height: 15px;
  border-radius: 10px;
}

.offline {
  composes: status;
  background-color: red;
}

.online {
  composes: status;
  background-color: green;
}

.avatar {
  width: 52px;
  height: auto;
}

.name {
  font-size: 32px;
}
