.statistics {
  display: flex;
  flex-direction: column;
}

.title {
  padding: 30px;
  font-size: 32px;
  text-transform: uppercase;
  color: rgba(47, 47, 47, 0.35);
  background-color: #e7e7e7;
  text-align: center;
}

.statList {
  display: flex;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {}

.percentage {}
