.statistics {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.title {
  padding: 30px;
  font-size: 32px;
  text-transform: uppercase;
  color: rgba(47, 47, 47, 0.35);
  background-color: #e7e7e7;
  text-align: center;
}

.statList {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  color: wheat;
  width: calc((100% - 15px) / 5);
}

.label {
  font-size: 14px;
}

.percentage {
  font-size: 20px;
}
