.transactionHistory {
  width: 550px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.th {
  font-size: 16px;
  color: wheat;
  text-transform: uppercase;
  background-color: cornflowerblue;
}

.head {
  padding: 10px;
}
